// fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

// root variables
$font-montserrat: "Montserrat", sans-serif;
$font-inter: "Inter", sans-serif;
$col-secondary: rgba(34, 92, 203, 1);
$col-text-label: rgba(52, 64, 84, 1);
$col-text-text: rgba(131, 145, 162, 1);
// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1800px;
// auto defined code
%mx-auto {
  margin-left: auto;
  margin-right: auto;
}

%text-mont-12-500 {
  font-family: $font-montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 123%;
}

%text-mont-14-700 {
  font-family: $font-montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 123%;
}

%text-inter-16-400 {
  font-family: $font-inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

%text-mont-36-600 {
  font-family: $font-montserrat;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
}

%text-mont-24-400 {
  font-family: $font-montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

%text-mont-36-600 {
  font-family: $font-montserrat;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// mixing
@mixin resp($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin py($t, $b) {
  padding-top: $t;
  padding-bottom: $b;
}

@mixin px($l, $r) {
  padding-left: $l;
  padding-right: $r;
}

@mixin my($t, $b) {
  margin-top: $t;
  margin-bottom: $b;
}

@mixin mx($l, $r) {
  margin-left: $l;
  margin-right: $r;
}

// base style

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-montserrat;
}

img {
  width: 100%;
}

#login {
  background: url("https://storage.googleapis.com/msgsndr/e3KBbWQBefm1wTGRLZ1x/media/65c63842cf01df921e656491.png")
    no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  //   responsive
  @include resp($md) {
    background-image: url("https://storage.googleapis.com/msgsndr/e3KBbWQBefm1wTGRLZ1x/media/65c638420576cf0ce6c0e516.png");
  }
}

.btn {
  border: 0px;
}

.company,
.form__wrap {
  max-width: 330px;
  @include mx(auto, auto);

  // responsive
  @include resp($md) {
    @include mx(initial, initial);
  }
}

// main style
.login__component {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  //   responsive
  @include resp($md) {
    flex-flow: row wrap;
    align-items: center;
    max-width: 850px;
    @include mx(auto, auto);
  }
  @include resp($xl) {
    max-width: initial;
    padding: 25px 25px 25px 150px;
  }
  @include resp($xxxl) {
    @include mx( auto, auto);
    max-width: 1824px;
    padding: 0px 0px 0px 150px;
  }
}

section {
  width: 100%;
  height: 100%;
  .company {
    padding-top: 30px;
    // responsive
    @include resp($md) {
      padding-top: 0px;
    }
    @include resp($xl) {
      max-width: 410px;
    }
  }
  .logo__figure {
    width: 197px;
    height: 51px;
    @extend %mx-auto;
    // responsive
    @include resp($md) {
      @include mx(initial, initial);
    }

    @include resp($xl) {
      width: 323px;
      height: 83px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .company__text {
    @extend %text-mont-12-500;
    margin-top: 17px;
    @include px(25px, 25px);
    text-align: center;
    // responsive
    @include resp($md) {
      @include px(initial, initial);
      text-align: left;
    }

    @include resp($xl) {
      display: none;
    }
  }

  .company__slogan {
    display: none;
    // responsive
    @include resp($xl) {
      margin-top: 45px;
      display: flex;
      flex-flow: column wrap;
      row-gap: 20px;
    }
    .slogan__title {
      @extend %text-mont-36-600;
      line-height: 45px;
      text-transform: capitalize;
      color: rgba(8, 24, 58, 1);
    }

    .slogan__text {
      @extend %text-mont-24-400;
      color: rgba(8, 24, 58, 1);
      text-transform: capitalize;
    }
  }
}

.form__wrap {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.02);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  // margin-top: 35px;
  @include my( 35px, 35px);
  //   responsive
  @include resp($md) {
    margin-top: 0px;
  }
  @include resp($xl) {
    width: 100%;
    max-width: 630px;
    @include px(80px, 80px);
    @include py(94px, 76px);
  }
}
// form caption
.form__caption {
  .form__title {
    @extend %text-mont-14-700;
    color: $col-secondary;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    @include mx(auto, auto);

    // responsive
    @include resp($xl) {
      font-size: 24px;
      line-height: 30px;
      color: rgba(52, 64, 84, 1);
      width: initial;
    }
  }
}
// main form
.form {
  margin-top: 10px;
  //   responsive
  @include resp($xl) {
    width: 420px;
    margin-top: 80px;
    @include mx(auto, auto);
  }
  .input__wrap {
    display: flex;
    flex-flow: column wrap;
    margin-top: 8px;

    // responsive
    @include resp($xl) {
      margin-top: 24px;
    }

    &:first-child {
      margin-top: 0px;
    }
  }
  .form__label {
    @extend %text-mont-12-500;
    text-transform: uppercase;
    color: $col-text-label;
    // responsive
    @include resp($xl) {
      font-size: 18px;
      line-height: 20px;
      color: rgba(8, 24, 58, 1);
    }
  }
  .form__input {
    margin-top: 5px;
    @extend %text-inter-16-400;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: 1px solid rgba(238, 242, 247, 1);
    color: $col-text-text;
    padding: 6px 14px;
    border-radius: 8px;

    // responsive
    @include resp($xl) {
      margin-top: 8px;
      padding: 20px 14px;
    }
  }

  .btn__wrap {
    margin-top: 10px;
    // responsive
    @include resp($xl) {
      margin-top: 48px;
    }
  }
  .form__btn {
    height: 50px;
    width: 100%;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.02);
    background-color: $col-secondary;
    @extend %text-mont-14-700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;

    // responsive
    @include resp($xl) {
      height: 60px;
      font-size: 18px;
      line-height: 20px;
    }
  }
}

// other authorization
.service {
  margin-top: 10px;
  // responsive
  @include resp($xl) {
    margin-top: 36px;
  }
  .service__text {
    @extend %text-mont-12-500;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-bottom: 10px;
    // responsive
    @include resp($xl) {
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  .service__list {
    display: flex;
    justify-content: center;
    gap: 4px;
    // responsive
    @include resp($xl) {
      column-gap: 20px;
    }
  }

  .service__item {
    width: 132px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid $col-secondary;
    @extend %flex-center;

    // responsive
    @include resp($xl) {
      width: 155px;
    }
    &.service__apple {
      img {
        width: 32px;
        height: 38px;
        margin-top: -4px;
      }
    }
    &.service__google {
      img {
        width: 38px;
        height: 38px;
        // responsive
        @include resp($xl) {
          width: 33px;
          height: 33px;
        }
      }
    }
  }
}

.link {
  @extend %text-mont-12-500;
  text-transform: uppercase;
  color: $col-secondary;
  text-decoration: none;
  font-weight: 700;

  //   responsive
  @include resp($xl) {
    margin-top: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
}

.forgot__signup {
  text-align: center;
  margin-top: 25px;
  @extend %text-mont-12-500;
  //   responsive
  @include resp($xl) {
    margin-top: 40px;
  }
}

.forgot__pass {
}

.signup__txt {
  margin-top: 10px;
  //   responsive
  @include resp($xl) {
    margin-top: 13px;
    font-size: 18px;
    line-height: 22px;
  }
}
